* {
    box-sizing: border-box;
}

html, body {
    --border-radius: 100px;
    --blue: #1c47ff;
    --pink: #d6a3fb;
    --green: #d0ff94;
    --gray: #e5e5e5;

    margin: 0;
    padding: 0;
    background: #000000;
    color: #ffffff;
    font-size: 30px;
    font-family: sans-serif;
}

h1 {
    font-size: 80px;
    margin: 0px;
}

h2 {
    font-size: 60px;
    margin: 0px;
}

a {
    color: #ffffff;
    text-decoration: none; /* Removes underline of an anchor */
}

section {
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100vh - 100px); /* vh: 100% height of viewport */
    top: 100px;
    z-index: 2;
}

section.sticky {
    position: sticky;
    margin-top: 100px;
}

section.full-screen {
    height: 100vh;
    margin-top: 0;
    top: 0;
    z-index: 3;
}

/* navigation */

nav {
    position: fixed; /* fixed on screen and relative to the viewport, instead of static */
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    font-size: 20px;
    z-index: 1;
}

nav ul {
    display: flex; /* makes it a flex container, default row direction */
    /* it's direct children are flex item and will fill the free space available */
    align-items: center; /* alligns items to the main flex axis (row by default) */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none; /* removes the dots of lists */
    margin-left: 45px;
}

nav ul li a {
    color: #ffffff;
    font-family: 'Space Mono', monospace;
}

/* about section */

section.about .empty {
    flex-basis: 37.5vw;
    background: var(--gray);
    border-radius: var(--border-radius);
}

section.about article {
    flex: 1;
    display: flex;
    flex-direction: column;
}

section.about article .title {
    flex: 2; /* title to grow twice as much as description when extra space available */
    display: flex;
    align-items: flex-end;
    background: var(--blue);
    border-radius: var(--border-radius);
    padding: 6.25vw;
}

section.about article .description {
    flex: 1;
    display: flex;
    align-items: center;
    background: #d6a3fb;
    border-radius: var(--border-radius);
    padding: 6.25vw;
    color: #000000;
}

/* service section */

section.service article {
    display: flex;
    width: 100%;
}

section.service figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 56.25vw;
    margin: 0;
    background: var(--green);
    border-radius: var(--border-radius);
}

section.service figure img {
    width: 50%;
}

section.service .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background: #1f1a1c;
    padding: 6.25vw;
    border-radius: var(--border-radius);
}

section.service .text a {
    font-family: 'Space Mono', monospace;
}

/* service section overrides */

section.service.service-html figure {
    background: var(--green);
}

section.service.service-html .text h2,
section.service.service-html .text a {
    color: var(--pink);
}

section.service.service-css figure {
    background: var(--blue);
}

section.service.service-css .text h2,
section.service.service-css .text a {
    color: var(--green);
}

section.service.service-js figure {
    background: var(--pink);
}

section.service.service-js .text h2,
section.service.service-js .text a {
    color: var(--blue);
}

/* contact section */

section.contact {
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--blue), var(--green) 60%, var(--pink) 70%, var(--gray));
    border-radius: var(--border-radius);
}

section.contact a {
    font-size: 100px;
    color: #000000;
}

